<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
        
        {% for dest in dests %}

        <!-- Destination -->
        <div class="destination item">
            <div class="destination_image">
                <img src={{dest.img.url}} alt="">
                {% if dest.offer %}
                <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
                {% endif %}
            </div>
            <div class="destination_content">
                <div class="destination_title"><a href="destinations">{{dest.name}}</a></div>
                <div class="destination_subtitle"><p>{{dest.disc}}</p></div>
                <div class="destination_price">From ${{dest.price}}</div>
            </div>
        </div>
        
        {% endfor %}
</body>
</html>